# macOS
.DS_Store

# Arduino build junk
*.ino.cpp
*.elf
*.bin

# PlatformIO (future)
.pio
.vscode

# My Secrets
platformio.local.ini
secrets.h

# Announcement Docs
docs/announcements/*.md

# Build output
site/